@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
/* overflow-x: hidden; */


/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */

.navbar-brand {
    vertical-align: middle;
    margin-top: 11px;
}

.navbar-nav {
    float:none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 11px;
    padding-right: 40px;
}

.navbar .nav > li > a {
    color: #C0C0C0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: .3vmin;
}

.navbar-inverse{
    background-color: rgba(0,0,0,.1);
    border-radius: 0px;
    border: none;
}

.navbar-header {
  height: 70px;
}

.nav > li > a:hover {
    background-color: transparent;
    color: #FFDF00;
    border-bottom: 3px solid #FFDF00;
    display:inline; /* Prevents link background hover state */
}



/* ---------------------------------------------------
    MAIN PAGE VIDEO
----------------------------------------------------- */

/* #background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    filter:brightness(80%); 
} */
    /* Control the video brightness */

    .tinted-image {
        background: 
          /* top, transparent red, faked with gradient */ 
          linear-gradient(
            rgba(255, 0, 0, 0.45), 
            rgba(255, 0, 0, 0.45)
          ),
          /* bottom, image */
          url(app/assets/images/vacation.jpg);
      }


.hero { /*Centers Text on Video Background*/
    position: absolute; 
    top: 40%; 
    left: 0;
    text-align: center; 
    width: 100%;
}

.hero > .travel-brand {
    color: red;
    text-transform: uppercase;
    padding: 25px;
    max-width: 100%;
    /* margin: 0px auto; */
    font-size: 7rem;
    letter-spacing: .3vmin;
    font-weight: bold;
    display: inline-block;
    opacity: 1;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -o-transform: rotate(330deg);
}

.hero > .guru-brand {
    color: white;
    text-transform: uppercase;
    padding: 25px;
    max-width: 100%;
    /* margin: 0px auto; */
    margin-left: -100px;
    font-family: 'Concert One', cursive;
    font-weight: 300;
    font-size: 7rem;
    letter-spacing: 0.1vmin;
    display: inline-block;
    opacity: 1;
    padding-top: 25px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

/* ---------------------------------------------------
    BUTTON STYLES
----------------------------------------------------- */
.btn-outline {
    border-radius: 0;
    width: 150px;
    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
    /* background-color: transparent !important; */
    background-color: rgba(0,0,0,.3);
    border-color: white;
    border-width: 2px;
    color: white;
}

.btn-primary-outline{
    margin-left: 0;
}

.btn-success-outline{
    margin-left: 88px;
}

.btn-success-outline:hover, .btn-success-outline:focus, .btn-primary-outline:hover, .btn-primary-outline:focus {
    color: navajowhite;
    border-color: navajowhite;
}

/* ---------------------------------------------------
    LOG IN FORM
----------------------------------------------------- */

.logback {
    background-size: cover;
}

.panel-default {
    opacity: 0.8;
    margin-top: 140px;
}

.form-group.last { 
    margin-bottom:0px; 
}



