/*container overlay*/
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/client/assets/images/logback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}