@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
/* overflow-x: hidden; */


/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */

.navbar-brand {
    vertical-align: middle;
    margin-top: 11px;
}

.navbar-nav {
    float:none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 11px;
    padding-right: 40px;
}

.navbar .nav > li > a {
    color: #C0C0C0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: .3vmin;
}

.navbar-inverse{
    background-color: rgba(0,0,0,.1);
    border-radius: 0px;
    border: none;
}

.navbar-header {
  height: 70px;
}

.nav > li > a:hover {
    background-color: transparent;
    color: #FFDF00;
    border-bottom: 3px solid #FFDF00;
    display:inline; /* Prevents link background hover state */
}



/* ---------------------------------------------------
    MAIN PAGE VIDEO
----------------------------------------------------- */

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    filter:brightness(80%); /* Control the video brightness */
}

.hero { /*Centers Text on Video Background*/
    position: absolute; 
    top: 40%; 
    left: 0;
    text-align: center; 
    width: 100%;
}

.hero > .travel-brand {
    color: red;
    text-transform: uppercase;
    padding: 25px;
    max-width: 100%;
    /* margin: 0px auto; */
    font-size: 7rem;
    letter-spacing: .3vmin;
    font-weight: bold;
    display: inline-block;
    opacity: 1;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -o-transform: rotate(330deg);
}

.hero > .guru-brand {
    color: white;
    text-transform: uppercase;
    padding: 25px;
    max-width: 100%;
    /* margin: 0px auto; */
    margin-left: -100px;
    font-family: 'Concert One', cursive;
    font-weight: 300;
    font-size: 7rem;
    letter-spacing: 0.1vmin;
    display: inline-block;
    opacity: 1;
    padding-top: 25px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

/* ---------------------------------------------------
    BUTTON STYLES
----------------------------------------------------- */
.btn-outline {
    border-radius: 0;
    width: 150px;
    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
    /* background-color: transparent !important; */
    background-color: rgba(0,0,0,.3);
    border-color: white;
    border-width: 2px;
    color: white;
}

.btn-primary-outline{
    margin-left: 0;
}

.btn-success-outline{
    margin-left: 88px;
}

.btn-success-outline:hover, .btn-success-outline:focus, .btn-primary-outline:hover, .btn-primary-outline:focus {
    color: navajowhite;
    border-color: navajowhite;
}

/* ---------------------------------------------------
    LOG IN FORM
----------------------------------------------------- */

.logback {
    background-size: cover;
}

.panel-default {
    opacity: 0.8;
    margin-top: 140px;
}

.form-group.last { 
    margin-bottom:0px; 
}


/* ---------------------------------------------------
    REGISTRATION FORM
----------------------------------------------------- */

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFF;
    color: #FFF;
    min-width: 50%;
    min-height: 50%;
    height: 91vh;
  
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFF;
    color: #3d231b;
    min-width: 50%;
    max-height: 50%;
    height: 91vh;
}

.panels {
    margin-top: -20px;
}

.vacpic {
    width: 90%;
}

.panel-primary {
    width: 650px;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

/* @media screen and (max-width:768px) {
.navbar-toggle {
    margin-right: 25px;
    margin-top: 20px;
  }

}

@media screen and (max-width:1400px) {
.navbar-nav > li {
    display: block;
    width: 100%;
  }

.navbar .brand, .navbar .nav > li > a:hover {
    background-color: transparent;
    color: #FFDF00;
    border: none;
    display: block;
}

.navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    margin-right: 25px;
    margin-top: 20px;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }

} */

/*container overlay*/
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/client/assets/images/logback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}

/*country icon*/
.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

body {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.flag-wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
  box-shadow: 0 0 2px black;
  overflow: hidden;
  margin-bottom: 20px;
}
.flag-wrapper:after {
  padding-top: 75%;
  /* ratio */
  display: block;
  content: '';
}
.flag-wrapper .flag {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.no-wrap {
  white-space: nowrap;
  margin-bottom: 8px;
  overflow: hidden;
}
.all-flags .flag-icon-background {
  cursor: pointer;
}
.jumbotron {
  position: relative;
  font-size: 16px;
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  border-radius: 0;
  padding-bottom: 80px;
  background: linear-gradient(to right, #0d6632, #f4c01a);
}
.jumbotron h1 {
  margin-bottom: 15px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #fff;
}
.jumbotron iframe {
  width: 100px!important;
  height: 20px!important;
  border: none;
  overflow: hidden;
  margin: 2px;
}
.jumbotron p a,
.jumbotron .jumbotron-links a {
  font-weight: 500;
  color: #fff;
}
.jumbotron .jumbotron-links {
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 14px;
}
.jumbotron .jumbotron-links li {
  display: inline;
}
.jumbotron .jumbotron-links li + li {
  margin-left: 20px;
}
.jumbotron .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 18px;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-outline {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 18px 24px;
  font-size: inherit;
  font-weight: 500;
  color: #fff;
  /* redeclare to override the `.jumbotron a` */
  background-color: transparent;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
}
.btn-outline:hover,
.btn-outline:active {
  color: #0d6632;
  background-color: #fff;
  border-color: #fff;
}
.dropdown-menu{
  text-align:left;
}

.how-to {
  padding: 20px;
}
.how-to h2 {
  text-align: center;
}
.how-to li {
  font-size: 21px;
  line-height: 1.7;
  margin-top: 20px;
}
.how-to li p {
  font-size: 16px;
  color: #555;
}
.how-to code {
  font-size: 85%;
  word-wrap: break-word;
  white-space: normal;
}
footer {
  text-align: center;
  opacity: .8;
  padding: 50px;
  background: linear-gradient(to right, #f4c01a, #0d6632);
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #fff;
}
.links {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.links li {
  display: inline;
  padding: 0 10px;
}

/* CSS used here will be applied after bootstrap.css */.btn-input {
    display: block;
}

.btn-input .btn.form-control {
    text-align: left;
    
}

.btn-input .btn.form-control span:first-child {
   left: 10px;
   overflow: hidden;
   position: absolute;
   right: 25px;
}

.btn-input .btn.form-control .caret {
   margin-top: -1px;
   position: absolute;
   right: 10px;
   top: 50%;
}

