<div class="container">
    <div class="col-lg-12">
        <div class="form-area">
            <div class="form-group">
                <form role="form" ng-submit="addpoiCtrl.addNewPoi()" novalidate>
                    <br>
                    <h3 style="margin-bottom: 25px; text-align: center;">Add An Interesting Travel Place</h3>
                    <br>

                    <div class="form-group" required>
                        <input type="text" class="form-control" id="city" name="city" placeholder="City" ng-model="addpoiCtrl.newPoi.city" required>
                    </div>
                    <div class="form-group" required>
                        <input type="text" class="form-control" id="poiname" name="poiname" placeholder="Place of Interest" ng-model="addpoiCtrl.newPoi.poiname"
                            required>
                    </div>
                    <div class="form-group" required>
                        <textarea class="form-control" type="textarea" id="description" placeholder="Why is it?" maxlength="200" rows="7" ng-model="addpoiCtrl.newPoi.description"></textarea>
                        <span class="help-block">
                            <p id="characterLeft" class="help-block ">You have reached the limit</p>
                        </span>
                    </div>

                    <div class="form-group" required>
                        <input type="text" name="category" list="category" placeholder="Activity" ng-model="addpoiCtrl.newPoi.category">
                        <datalist id="category">
                            <option value="Food and Shopping">Food and Shopping</option>
                            <option value="Family Fun">Family Fun</option>
                            <option value="Outdoor Adventure">Outdoor Adventure</option>
                            <option value="Cultural and History">Cultural and History</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Lifestyle">Lifestyle</option>
                        </datalist>

                        <div class="form-group">
                            <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Share</button>
                        </div>
                    </div>

                </form>
            </div>


            <!-- <input type="text" class="form-control" id="category" name="category" placeholder="category" required> -->

            <!-- <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                        </div> -->




        </div>
    </div>
</div>