<div class="wrap">
    <div class="col-lg-12">
        <div class="container">
            <div class="row text-center">
                <h1 class="poititle">Points of Interest</h1>
            </div>
        </div>
    </div>
</div>

<div class="container contsearch">
    <form role="form" class="poisearch" ng-submit="poiCtrl.findAll(keyword)">
        <div class="row">
            <h3>Search for a specific POI</h3>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="  search-query form-control" placeholder="Search" ng-model="poiCtrl.keyword"/>
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="submit" >
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<br>

<div class="container">
    <div class="row" ng-repeat="p in poiCtrl.allPois">
        <div class="col-md-4">
            <div class="panel panel-primary poipanel">
                <div class="panel-heading poihead poiback1">

                </div>
                <div class="panel-body poibody">
                    <h4 class="poih4">{{p.poiname}}</h4>
                    <p>{{p.description}}</p>
                    <p>{{p.category}}</p>
                    <button type="button" class="btn btn-warning btn-block viewbtn" ng-click="poiCtrl.viewPoi(p.id)">Review this POI</button>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="panel panel-primary poipanel">
                <div class="panel-heading poihead poiback2">

                </div>
                <div class="panel-body poibody">
                    <h4 class="poih4">Bungee Jumping</h4>
                    <p>Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus et pharetra egestas.</p>
                    <button type="button" class="btn btn-warning btn-block viewbtn" ui-sref="review">Review</button>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-md-4">
            <div class="panel panel-primary poipanel">
                <div class="panel-heading poihead poiback3">

                </div>
                <div class="panel-body poibody">
                    <h4 class="poih4">Wine & Dine</h4>
                    <p>Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus et pharetra egestas.</p>
                    <button type="button" class="btn btn-warning btn-block viewbtn" ui-sref="review">Review</button>
                </div>
            </div>
        </div> -->
    </div>
</div>