
<!-- Video Container -->
<div class="container-fluid">
    <div class="row hero">
        <video autoplay="" loop="" id="background" muted="">
            <source src="../../assets/video/girlbeach.mp4" type="video/mp4">
        </video>
        <h1 class="travel-brand">Travel</h1>
        <h1 class="guru-brand">Guru</h2>
            <br>
            <br>
            <br>
            <div class="panel-body">
               

                    <button type="button" class="btn btn-primary-outline btn-lg btn-outline" ui-sref="logIn">
                        <span data-bind="label">Log In</span>
                    </button>
                    <button type="button" class="btn btn-success-outline btn-lg btn-outline" ui-sref="register">
                            <span data-bind="label">Register</span>
                    </button>
                </div>    
                
            


    </div>
</div>
<!-- End Video Container -->