

<div class="container-fluid logback"id="element-with-background-image" >
    <div class="row loghead headoverlay" >
        <h2 class="boxed">Log In</h2>
    </div>

    <div id="login-overlay" class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Login to Travel Guru</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="well"> 
                                <!-- ng-class="{ 'has-error': loginForm.username.$touched && loginForm.username.$invalid }" -->
                            <form id="loginForm" ng-submit="loginCtrl.logInUser()" novalidate="novalidate">
                                <div class="form-group" >
                                    <label for="username" class="control-label">Email</label>
                                    <input type="text" class="form-control" id="email" name="email" required placeholder="example@gmail.com" ng-model="loginCtrl.email">
                                    <span class="help-block"></span>
                                </div> 
                                <!-- ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid}" -->
                                <div class="form-group">
                                    <label for="password" class="control-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required ng-model="loginCtrl.password">
                                    <span class="help-block"></span>
                                </div> 
                                <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember" id="remember"> Remember login
                                    </label>
                                    <p class="help-block">(if this is a private computer)</p>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Login</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p class="lead">Register now for <span class="text-success">FREE</span></p>
                        <ul class="list-unstyled" style="line-height: 2">
                            <li><span class="fa fa-check text-success"></span> View all guru reviews</li>
                            <li><span class="fa fa-check text-success"></span> Create your own reviews</li>
                            <li><span class="fa fa-check text-success"></span> Rate reviews</li>                   
                        </ul>
                        <button type="button" class="btn btn-info btn-block" ui-sref="register">Register</button>
                        <!-- <p><a ui-sref="register" class="btn btn-info btn-block">Yes please, register now!</a></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

