<div class="container-fluid panels" id="element-with-background-image">
    <div class="row">
        <!-- Left Panel -->
        <div class="col-lg-6 col-sm-12 left">
        <img class="vacpic" src="../../assets/images/vacation.jpg" alt="">
        </div>
        <!-- Start Registration Form -->
        <div class="col-lg-6 col-sm-12 right">
            <div class="container">
                <div class="row">
                    <div class="panel panel-primary regpanel">
                        <div class="panel-body">
                            <form role="form" ng-submit="registerCtrl.registerUser()" novalidate>
                                <div class="form-group">
                                    <h2>Register an account</h2>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="username">Username</label>
                                    <input id="username" type="text" maxlength="50" class="form-control" ng-model="registerCtrl.user.nickname">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="signupEmail">Email</label>
                                    <input id="signupEmail" type="email" maxlength="50" class="form-control" ng-model="registerCtrl.user.email">
                                </div>                                    
                                <div class="form-group">
                                    <label class="control-label" for="signupPassword">Password</label>
                                    <input id="signupPassword" type="password" maxlength="25" class="form-control" placeholder="at least 6 characters" length="40" ng-model="registerCtrl.user.password">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="firstname">First Name</label>
                                    <input id="firstname" type="text" maxlength="50" class="form-control" ng-model="registerCtrl.user.firstname">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="lastname">Last Name</label>
                                    <input id="lastname" type="text" maxlength="50" class="form-control" ng-model="registerCtrl.user.lastname">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="dob">DOB:</label>
                                    <input id="dob" type="text" class="form-control datepicker" id="dob" ng-model="registerCtrl.user.dob">
                                </div>
                                <div class="form-group">
                                    <button id="signupSubmit" type="submit" class="btn btn-info btn-block">Create your account</button>
                                </div>
                                <hr>
                                <p></p>Already have an account? <ui-sref="logIn">Sign in</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>