<div class="container">
    <div class="col-lg-12">
        <div class="form-area">
            <div class="form-group">
                <form role="form" ng-submit="addReviewCtrl.addNewReview()" novalidate>
                    <br>
                    <h3 style="margin-bottom: 5px; text-align: center;">Add Your Review</h3>
                    <br>

                    <!-- <div class="form-group">
                        <input type="text" class="form-control" id="city" name="city" placeholder="City" ng-model="addpoiCtrl.newPoi.city" required>
                    </div> -->
                    <div class="form-group" >
                        <!-- <input type="submit" name="comments" id="comments" ng-model="addReviewCtrl.newReview.comments"> -->
                        <textarea class="form-control" type="text" id="comments" placeholder="Please share your review" maxlength="200" rows="7" ng-model="addReviewCtrl.newReview.comments"></textarea>
                        <span class="help-block">
                            <p id="characterLeft" class="help-block ">You have reached the limit</p>
                        </span>
                    </div>
                    <div class="form-group" required>
                        <input type="text" class="form-control" id="rating" name="rating" placeholder="Ratings" ng-model="addReviewCtrl.newReview.ratings"required>
                    </div>
                    <div class="form-group">
                    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Share</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>