<div ui-view="container tab-content"></div>
<div class="container">
    <div class="col-lg-12">
        <div class="form-area">
            <form role="form"  novalidate>
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">{{reviewCtrl.allReviewsForThisPoi.poiname}}</h3>
                <br>
                <!-- <div class="form" ng-repeat="x in reviewCtrl.allReviewsForThisPoi"> -->
                    

                    <!-- [{{$index + 1}}]{{reviewCtrl.allReviewsForThisPoi.reviews}} -->

                    <div class="form-group" ng-repeat="p in reviewCtrl.allReviewsForThisPoi.reviews" required>
                        <!-- <textarea class="form-control" type="textarea" id="description" placeholder="Why is it?" maxlength="140" rows="7"></textarea> -->
                        <span class="help-block">
                            <p id="characterLeft" class="help-block ">{{p.comments}}</p>

                            <!-- <p id="characterLeft" class="help-block ">[{{$index + 1}}]{{reviewCtrl.allReviewsForThisPoi.reviews}}</p> -->
                        </span>
                    </div>

                    <br>

                    <!-- <div class="form-group" ng-submit="">
                        <span>
                            <button type="button" id="submit" name="submit" class="btn btn-primary">Share Your Review</button>
                        </span>
                    </div> -->

                    <!-- <nav class="navbar navbar-default"> -->
                            <div class="navbar-header">
                              <a class="navbar-brand" ui-sref="addreview" href="#addreview">Share Your Review</a>
                            </div>  
                            <!-- <ul class="nav navbar-nav navbar-left">
                              <li>
                                <button class="btn btn-danger navbar-btn" ui-sref="addreview" >Share</button>
                              </li>
                              
                            </ul> -->
                    <!-- </nav> -->

                    <br>

                    <!-- <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                        </div> -->


                </div>
                <!-- <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Share</button> -->
            </form>

        </div>
    </div>
</div>